<!-- <div class="matchup">
  <div class="matchup-block">
    <h3>Fortalezas del equipo</h3>
    <div class="matchup-grid">
      <div class="matchup-type" *ngFor="let tipo of fuertesContra | keyvalue">
        <span class="type-name">{{ tipo.key | titlecase }}</span>
        <span>x{{ tipo.value }}</span>
      </div>
    </div>
  </div>

  <div class="matchup-block">
    <h3>Debilidades del equipo</h3>
    <div class="matchup-grid">
      <div class="matchup-type" *ngFor="let tipo of debilContra | keyvalue">
        <span class="type-name">{{ tipo.key | titlecase }}</span>
        <span>x{{ tipo.value }}</span>
      </div>
    </div>
  </div>


</div> -->
<div class="matchup">
  <!-- Fortalezas -->
  <div class="matchup-block">
    <h3>Fortalezas</h3>
    <div class="matchup-grid">
      <div class="matchup-type" *ngFor="let tipo of getTypeList(fuertesContra)">
        <span class="type-name">{{ tipo.nombre | titlecase }}</span>
        <span class="type-value">x{{ tipo.valor }}</span>
      </div>
    </div>
  </div>

  <!-- Debilidades -->
  <div class="matchup-block">
    <h3>Debilidades</h3>
    <div class="matchup-grid">
      <div class="matchup-type" *ngFor="let tipo of getTypeList(debilContra)">
        <span class="type-name">{{ tipo.nombre | titlecase }}</span>
        <span class="type-value">x{{ tipo.valor }}</span>
      </div>
    </div>
  </div>
</div>





