<div class="matchup">
  <!-- Fortalezas -->
  <div class="matchup-block">
    <h3>Eficaz contra</h3>
    <div class="matchup-grid">
      <div class="matchup-type" *ngFor="let tipo of tipos">
        <img [src]="'http://localhost:8000' + tipo.icono" width="55" />
        <span class="type-name">{{ tipo.nombre | titlecase }}</span>
        <span class="type-value">
          {{ getFortaleza(tipo.nombre) > 0 ? '+' + getFortaleza(tipo.nombre) : '0' }}
        </span>
      </div>
    </div>
  </div>

  <!-- Debilidades -->
  <div class="matchup-block">
    <h3>Poco eficaz contra</h3>
    <div class="matchup-grid">
      <div class="matchup-type" *ngFor="let tipo of tipos">
        <img [src]="'http://localhost:8000' + tipo.icono" width="55" />
        <span class="type-name">{{ tipo.nombre | titlecase }}</span>
        <span class="type-value">
          {{ getDebilidad(tipo.nombre) < 0 ? getDebilidad(tipo.nombre) : '0' }} </span>
      </div>
    </div>
  </div>
</div>