a {
  display: flex;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

a:hover {
  color: rgb(216, 216, 216);
}

nav {
  background-color: rgb(34, 34, 34);
  padding: 10px;
  margin-bottom: 3rem;
  display: flex;
  justify-content: space-between;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
}

ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

.logo {
  display: flex;
  align-items: center;

  span {
    margin-left: 0.6rem;
  }
}

.logo svg {
  width: 2rem;
  fill: rgb(255, 255, 255);
  vertical-align: middle;
}

.logo svg:hover {
  fill: rgb(216, 216, 216);
}

.navigation {
  display: flex;
  gap: 0.6rem;
  margin-left: 0.6rem;
}

.menu {
  display: flex;
  gap: 3rem;
  position: absolute;
  left: 51%;
  transform: translateX(-50%);
  top: 50%;
  transform: translate(-50%, -50%);
}

.login {
  display: flex;
  align-items: center;

  i {
    font-size: 25px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    margin-left: 0.7rem;
  }

  a {
    padding: 0;
  }
}

.login i:hover {
  color: rgb(216, 216, 216);
}

.fa-regular {
  font-size: 1.5rem;
  color: rgb(255, 255, 255);
}

// Modal
.modal-backdrop {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.modal {
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1001;
  width: 100%;
  height: auto;
  min-height: 100vh;
  border-radius: 1rem;
  background-color: transparent;
}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  background: rgb(51, 51, 51);
  border-radius: 1rem;
  padding: 0.5rem;
  box-sizing: border-box;
  width: 30rem;
}

.modal-header {
  display: flex;
  width: 100%;
  border: none;
  padding: 0;
}

.close-button {
  background: transparent;
  border: none;
  font-size: 1.5rem;
  color: rgb(255, 255, 255);
  cursor: pointer;
  margin: 0.5rem 0.5rem 0.5rem 0;
  margin-left: auto;
  transition: background-color 0.3s ease;
  line-height: 1;
  padding: 0.2rem;
}

.close-button:hover {
  color: rgb(216, 216, 216);
}

.back-arrow {
  font-size: 1.3rem;
  color: rgb(255, 255, 255);
  cursor: pointer;
  z-index: 10;
  transition: color 0.2s ease;
  margin-left: 0.7rem;
}

.back-arrow:hover {
  color: rgb(216, 216, 216);
}

.modal-body {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  height: 100%;
}

// Menú hamburguesa
.navbar-toggler {
  border: none;
  padding: 0;
}

.menu-hamburguer svg {
  fill: rgb(255, 255, 255);
  width: 1.5rem;
}


// Responsive
@media (max-width: 768px) {
  .logo,
  .login {
    span {
      display: none;
    }
  }

  .navbar-toggler,
  .login {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .login {
    justify-content: flex-end;
  }
}

@media (max-width: 480px) {
  .modal-content {
    width: 18rem;
  }
}