.pokemon {
  display: flex;
  justify-content: center;
  gap: 5rem;
}

.pokemon-detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  width: 50%;
}

.content-pokemon {
  display: flex;
  gap: 2rem;
  width: 100%;
}

.detail-image {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  background-color: rgb(255, 255, 255);
  width: fit-content;
  height: fit-content;

  img {
    object-fit: contain;
    width: 12rem;
    height: auto;
  }
}

.detail-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  grid-area: content;
}

.content-id {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(51, 51, 51);
  color: rgb(255, 255, 255);
  font-weight: bold;
  padding: 8px 10px;
  border-radius: 10px 0 10px 0;
  font-size: 0.9rem;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  width: 2.5rem;
  text-align: center;
}

.content-type {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

// Evolución de los Pokémons
.detail-evolution {
  grid-area: evolution;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.evolution-chain {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.evolution-title {
  // background-color: rgb(238, 238, 238);
  // box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;

}

.evolution-item {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  align-items: center;
  text-align: center;
  text-decoration: none;
  color: inherit;
  border-radius: 10px;
  // box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  background-color: rgb(248, 248, 248);
  width: 12.3rem;
}

.evolution-arrow {
  margin: 0.5rem 0;
  color: rgb(14, 1, 66);
}

// Datos del Pokémon
.table-info {
  margin-top: 1.5rem;
  grid-area: info;

  h3 {
    font-size: 1.4rem;
    margin-bottom: 1rem;
    color: #222;
    text-align: center;
  }

  .info-detail {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
    margin-top: 2rem;
  }

  .info-pokemon,
  .info-pokemon-specific {
    display: flex;
    justify-content: space-between;
    gap: 2rem;

    >div {
      flex: 1 1 calc(33.33% - 1.5rem);
      min-width: 150px;
    }
  }

  .grid-label {
    background-color: rgb(238, 238, 238);
    color: rgb(34, 34, 34);
    padding: 0.8rem;
    border-radius: 6px 6px 0 0;
    font-weight: bold;
    text-align: center;
  }

  .grid-value {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(248, 248, 248);
    color: rgb(51, 51, 51);
    padding: 0.8rem;
    border-radius: 0 0 6px 6px;
    text-align: center;
    font-weight: 500;
    min-height: 6.2rem;
  }
}


// Responsive
@media (max-width: 1024px) {
  .pokemon {
    gap: 3rem;
  }

  .pokemon-detail {
    width: 60%;
  }
}

@media (max-width: 768px) {
  .pokemon {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .pokemon-detail {
    width: 80%;
  }

  .evolution-chain {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .evolution-arrow {
    transform: rotate(-90deg);
    margin: 0 0.5rem;
  }

  .evolution-item {
    width: 9.8rem;
  }
}

@media (max-width: 425px) {
  .content-pokemon,
  .detail-content {
    flex-direction: column;
    align-items: center;
  }

  .detail-evolution {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.content-type{
  flex-direction: row;
}

.evolution-chain {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.evolution-arrow{
  transform: rotate(360deg);
}

.info-pokemon,
  .info-pokemon-specific {
    flex-direction: column;
    gap: 1rem;

    > div {
      flex: 1 1 100%;
      width: 100%;
    }
  }

  .evolution-item {
    width: 12rem;
  }
}