<!-- Componentes "Team Builder" y "Team Matchup" y botones "Ver Equipos" y "Guardar Equipos" -->
<div class="teams-wrapper">
  <div class="teams">
    <app-team-builder #teamBuilder (equipoChange)="actualizarEquipo($event)"
      (effectivenessChange)="actualizarEfectividad($event)"></app-team-builder>
    <app-team-matchup [fuertesContra]="fuertesContra" [debilContra]="debilContra" [tipos]="tipos"></app-team-matchup>
  </div>

  <div class="teams-buttons">
    <div class="see-button">
      <button (click)="abrirModalEquipos()">Ver Equipos</button>
    </div>
    <div class="save-button">
      <button (click)="guardarEquipo()">Guardar Equipo</button>
    </div>
  </div>
</div>


<!-- Capa inferior del modal "Ver Equipos" -->
<div class="modal-backdrop" *ngIf="mostrarModalEquipos" (click)="cerrarModalEquipos()"></div>

<!-- Modal para "Ver Equipos" -->
<div class="modal" *ngIf="mostrarModalEquipos">
  <div class="modal-content">
    <div class="modal-header">
      <i class="fa-solid fa-xmark close-button" (click)="cerrarModalEquipos()"></i>
    </div>
    <div class="modal-teams">
      <div class="see-teams">
        <h3 class="see-teams-title">Equipos guardados</h3>
        <ul class="my-teams">
          <li class="my-team" *ngFor="let equipo of equiposGuardados">
            {{ equipo.nombre }}
            <div class="teams-check">
              <ul (click)="cargarEquipo(equipo)">
                <li *ngFor="let pokemon of equipo.pokemons">
                  <img [src]="url+pokemon.imagen" alt="">
                </li>
              </ul>
            </div>
            <button class="team-button" (click)="cargarEquipo(equipo)"> Cargar equipo </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- Capa inferior del modal "Guardar Equipo" -->
<div class="modal-backdrop" *ngIf="mostrarModalGuardarEquipo" (click)="cerrarModalGuardarEquipo()"></div>

<!-- Modal para "Guardar Equipo" -->
<div class="modal" *ngIf="mostrarModalGuardarEquipo">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <div class="modal-header">
      <i class="fa-solid fa-xmark close-button" (click)="cerrarModalGuardarEquipo()"></i>
    </div>
    <div class="form-container">
      <form (ngSubmit)="submitGuardarEquipo()" #guardarForm="ngForm" class="form-save-team">
        <h2>Guardar equipo</h2>

        <!-- Campo nombre del equipo -->
        <div class="input-group">
          <label for="nombreEquipo">Nombre del equipo</label>
          <div class="input-icon">
            <input type="text" name="nombreEquipo" [(ngModel)]="nombreEquipo" pattern="^[a-zA-Z0-9 ]{5,}$"
              #nombreEquipoRef="ngModel" required placeholder="Nombre del Equipo" />
            <i class="fa fa-pen"></i>
          </div>

          <!-- Mensaje de error -->
          <div *ngIf="nombreEquipoRef.invalid && nombreEquipoRef.touched" class="error-msg">
            El nombre debe tener al menos 5 caracteres.
          </div>
        </div>

        <!-- Botones -->
        <div class="buttons" style="display: flex; justify-content: space-between; gap: 1rem;">
          <button class="modal-cancel-button" type="button" (click)="cerrarModalGuardarEquipo()">Cancelar</button>
          <button class="modal-save-button" type="submit" [disabled]="!guardarForm.form.valid">Guardar</button>
        </div>
      </form>
    </div>
  </div>
</div>